@import url('https://fonts.googleapis.com/css?family=Roboto|Shrikhand');

.App {
  font-family: 'Roboto', 'Arial';
  text-align: center;
}

#heading {
  padding-top: 20px;
  font-family: 'Shrikhand', 'Roboto', 'Arial';
}

hr {
  margin-left:25%;
  margin-right: 25%;
}
