@import url('https://fonts.googleapis.com/css?family=Roboto|Shrikhand');

.App {
  font-family: 'Roboto', 'Arial';
  text-align: center;
}

#heading {
  font-family: 'Shrikhand', 'Roboto', 'Arial';
}
